.customize-match-modal .ant-modal {
    padding-bottom: 0;
    top: 30px;
}

.customize-match-modal .ant-modal-content {
    background-color: var(--bg-modal-color);
    border: 2px solid var(--white);
}

.customize-match-modal .ant-modal-content .ant-modal-close-x {
    color: var(--white);
}

.customize-match-modal .ant-modal-content .ant-modal-header {
    background-color: var(--bg-second-color);
}

.customize-match-modal .ant-modal-content .ant-modal-header .ant-modal-title {
    color: var(--white);
    font-weight: 600;
}

.customize-match-modal .ant-form-item-label > label {
    color: var(--white);
}